<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>احراز هویت</title>
    {% load static %}
    <script src="{% static 'auth.js' %}"></script>
</head>
<body>
  
    <h2>لاگین</h2>


    <div id="loginForm">
        <label>شماره موبایل:</label>
        <input type="text" id="loginMobile">
        <label>رمز عبور:</label>
        <input type="password" id="loginPassword">
        <button onclick="login()">ورود</button>
    </div>

</body>
</html>